body{

margin:0;

display:flex;

font-family:Arial;

background:#111;

color:white;

}

.menu{

width:230px;

background:#1c1c1c;

padding:20px;

}

.menu h2{

text-align:center;

}

.menu button{

width:100%;

margin-top:10px;

padding:12px;

background:#333;

border:none;

color:white;

cursor:pointer;

border-radius:8px;

}

.menu button:hover{

background:#555;

}

.conteudo{

flex:1;

padding:30px;

}